
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .cartno{
        position:absolute;
        bottom:15px;
        left: 20px;
        font-size: medium;
        padding-left: 2.5px;
        padding-right: 2.5px;
        padding-top: 0.6px;
        padding-bottom: 0.6px;
        border: 2px solid red;
        background-color: red;
      }
      body{
        background-image: url('Img/carousel1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .x1{
          margin-left: 20px;
      }
    p{
      text-align: center;
     color: black;
      font-size: 16px;
    }
    .copyright {
    font-family: Arial,
         "Helvetica Neue",
         Helvetica,
         sans-serif;
      font-size: 12px;
      text-align: center;
      color: black;
}
    </style>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>Hello, world!</title>
   
  </head>
  <body >

    {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #09b3ab;">
        <div class="modal-header">

          <form action="signup" method="post">
            {% csrf_token %}

            <a class="navbar-brand" href="#"><img src="{% static 'Img/plus.ico' %}" style="height: 30px; width: 30px;"><span style="color: rgb(109, 68, 221);">KHC</span></a>

            <h5 class="modal-title" id="exampleModalLabel">Register<br><br></h5>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Uname</label>
              <input type="text" name="uname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="pass" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" name="cnfpass" class="form-control" id="exampleInputPassword1" required>
            </div>

            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>






  <!-- Modal -->


  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #09b3ab;">
        <div class="modal-header">

          <form method="post" action="login1">
            {% csrf_token %}
            <a class="navbar-brand" href="#"><img src="{% static 'Img/plus.ico' %}" style="height: 30px; width: 30px;"><span style="color: rgb(109, 68, 221);">KHC</span></a>
            
              <!-- <i class="fas fa-cannabis"></i> -->
              
            <h5 class="modal-title" id="exampleModalLabel">Login<br><br></h5>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" name="uname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="passw" class="form-control" id="exampleInputPassword1" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


    
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:rgb(10, 202, 209) ;">
      <div class="container-fluid">

        

        <a class="navbar-brand" href="#"><img src="{% static 'Img/plus.ico' %}" style="height: 30px; width: 30px;"><span style="color: rgb(109, 68, 221);">KHC</span></a>
          
        
        

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: green;">Home</a>
            </li>
           
            {% if user.is_authenticated %}

            <!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{user}}
              </button>
              <div class="dropdown-menu">
                
                <a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a>
                <a class="dropdown-item" href="{% url 'yourorders' %}">Your Orders</a>
  
              </div>
            </div>
  
  
            {% else %}
            <li class="nav-item">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" class="nav-link" href="#" style="color: green;">Log in</a>
            </li>
            <li class="nav-item">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link" href="#" style="color: green;">Sign up</a>
            </li>
            {% endif %}
  

            
            <li class="nav-item dropdown">
              <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a> 
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
              -->
              <a class="nav-link active" id="cart" href="{% url 'cart' %}">
                <img class="img-responsive" src="{% static 'Img/cart.png' %}" >
                {% if user.is_authenticated and cartno > 0 %}
                <h1 style="color: rebeccapurple;" class="cartno">{{cartno}}</h1>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: green;" >About Us</a>
            </li>
          </ul>
          
        </div>

      </div>
    </nav>


<div class="x1" >
      <h1 style="color: rgb(22, 191, 243);">K K Health Care</h1><br>
     <div class="container">
       <div class="row">
         <div class="col-sm-4">
              ABOMOX 250 CAP 1*10
ABOMOX 500 1*10
ABS COTT 400GM
ABSOR COTTON 100GM 1*100GM
ABSOR COTTON 200G
ABSOR COTTON 500G
ABSORBENT COTTON 1*60GM
ACCU CHEK LANCET PCS
ACCU SURE MACHIN 1*1
ACCUSURE STRIP 50UNIT 1*50
ACDOK CV 625 1*6
ACDOK CV DS 1*1
ACE+PARA TAB (ALONA PLUS) 1*10
ACE+PARA+SERRA(ACP PLUS0 1*100
ACECLO PARA EUPH 1*100
ACECLO+PARA+ SERRASSIO HAB 100
ACEERCOSRT40MG 1ML
ACETYLSALICYLIC ACID 1000
ACEWOOD 1*100
ACLOPAR SP 1*20
ACP TAB EUPH 1*100
ACPREX MR 1*100
ACPREX PLUS 1*100
ACPREX SP HAB 1*100
ADD FRIGHT
ADH BAMBOO 10*9M 1*1
ADH TAPE BAMBOO TAPE 1*1
ADHESIV ELASTIC BANDASE 1*1
ADRENALINE INJ 1ML
ADWANCED HAND SENITISER 50ML
AFEN 40 1*100
AFEN PLUS TAB 1*100
AIZAC DS 30ML
ALBARID IM SUSP 5ML
ALBARID IM TAB 1*20
ALBARIM TAB 1*10
ALBENDAZOLE SYP (BIOBEND) 10ML
ALBENDAZOLE SYP 10ML
ALBEZOL-I 1*10
ALBON PLAIN SYP 1*10ML
ALBON PLUS ALBENDAZOLE SYP 10ML
ALBZOL I 1*1
ALDOX FLUGECIC 1*100
ALDOX TAB 1*100
ALERCET TAB(R) 1*10
ALIDE NIM 1*100
ALIDE TAB 100MG 1*100
ALONA CZ 1*10
ALONA P SUSP 60ML
ALONA PLUS 1*10
ALONA SP 1*10
AMBOSIN LS 60ML
AMBRO COMBI(BIOCUF) 10ML
AMIKACIN 500 INJ(VENOCIN ) 500MGINJ
AMIKACIN 500(life care) 1*1
AMIKACIN(ALFAKIM)100MG 1*1
AMIKACIN(nkacin)100mg 10mg
AMIKACIN500(AMIKA) 1*1
AMINOPHILIN 10ML 10ML
AMITLIN 10 1*10
AMIZ 500 2ML
AMLIP-2.5 1*10
AMOX (PROMOX) 500 1*10
AMOX (PROMOX250) 1*10
AMOX 1.2(ANGEMOX CV)INJ 1*1
AMOX 250 1*100
AMOX 250 1*100
AMOX 250 DT 1*1
AMOX 250 EUPH 1*100
AMOX DRY SUP(DR MAA BIOMENTIN) 30ML
AMOX HAB 500 1*100
AMOX INJ(FITMOX) 1.2G
AMOXI 1.2 1.2G
AMOXI DRY SYP(BIOMENTIN) 30ML
AMOXI INJ (PROCLAV) 1.2G
AMOXI500 (PROMOX 5000 1*10
AMOXICILIN250 1*10
AMOXYCILIN 500 TAB 1*10
ANAWIN 0.5% 20ML 20ML
ANKELET VISCO 1
ANKLET M 1
ANSUPAR TAB(NICE+PARA) 1*100
ANTACID SYP 1*1
ANTACIDOL
ANTAXID MPS 1*1000
ANTI COLD HAB 1*100
ANTIDOX DOXY EUPH 1*100
ANWIN HAVY INJ 1*1
AOXY CV 625 1*6
AOXY CV 625 LB 6
AOXY CV DROP 10ML
AOXY CV DS 30ML
AOXY CV DUO 30ML
AOXY CV DUO DS 30ML
AOXY CV INJ 1.2G
AOXY CV LB 1*6
AOXY CV375 1*6
AOXY CV375 1*6
AOXY D 1*10
AOXY-CV DRY SYRUP 30ML
AOXYCV DS 30ML
APPITISER SYP(CYPROGEN) 200ml
APRO SYP 200ML
ARTISUNATE 60GM
ARTISUNATE(UROTHER) INJ 5ML
ASFER XT 1*10
ASONE TAB 1*1
ASTHRO 250 1*6
ASTHRO 500 1*3
ASTODOL MR 1*10
ASTODOL P 60ML
ASTOFEN D 1*10
ASTOFEN MR 1*10
ASTOFEN P 1*20
ASTOFEN P SUSP 60ML
ASTOFEN SP 1*10
ASTOFEN TC 1*15
ASTOFEN TH TAB 1*10
ASTROZER DISP SKIN BLADE 1*1
ATINE 1*100
ATRAMEF DS 60ML
ATROPIN SULPHATE  INJ 1ML
AVIL AMP 1*1
AZICIN 500 1*3
AZIGAURD500 1*3
AZIMO 200 SUSP 30ML
AZIMO 250 TAB 1*6
AZIMO250 1*6
AZIMO500 1*3
AZIPRO 250 1*6
AZITH 250 1*6
AZITHCIN 250 1*6
AZITHO DS SUSP 200(azinum) 200mg
AZITHO SUSP 100MG
AZOLE 20 1*100
B COM CAP(BIOPLEX) 1*10
B COMPLEX INJ 1*1
B COMPLEX INJ(VETACON) 2ML
B COMPLEX PENTA 100
B COMPLEX9LIVOPLEX0 EUPH 1*100
B P MACHIN DIAMOND 1*1
B P OPRATOR 1*1
B-BETAHISTINE TAB 1*10
B-HISTIN 1*10
B-HISTINE 8 1*10
B-HISTINE16 1*10
BABY BOAT 1*5
BACTIGRASS 10*10 1*1
BACTIGRASS POUTCH 1*1
BANDAGE 1*1
BASKOGM BASKOPAN INJ 1*1
BD 2ML SYRINGE EMROLD 2ML
BD CANNULA 26 NO 1*1
BD CANULA NO 18 1*1
BD CANULA NO 24 1*1
BD CANULLA 22 1*1
BD DIS NEEDLE 20G*1 1*1
BD DIS NIDDLE24G*1
BD DISCARDIT 10ML 21GX1 1X1"
BD DISP NEEDLE 20GX1 1*1"
BD DISP NEEDLE 24GX1 1*1"
BD DISPO SYRINGE 18G*1.5 1*1
BD EMERALD 10ML 1*1
BD EMROLD 3ML SYRINGE 1*100
BD NEEDLE 18 NO 1*100
BD NIDD 23
BD NIDDL 22 NO
BD NIDDLE 26 1*1
BD NIDDLE NO 16 1*100
BD SPINAL 27*3.5G 1*1
BD SPINAL NID 26G 1*1
BD SPINAL NID NO 25 1*1
BD SPINAL NIDDLE NO 18G 1*1
BD SPINAL NIDDLE NO27 1*1
BD SPINAL NIDDLE20G*3.5 1*1
BD SYRINGE 20ML 1*1
BD SYRINGE 2ML DISCARD 1
BD SYRINGE 5 ML 5ML
BD SYRINGE 50 ML 1*1
BD TUBELER SYRINGE 1ML 1
BECTODINE 125G
BELT VISCO L 1
BETADINE (CIPLADINE) TUBE 1*1
BETADINE HILIN 1*1
BETADINE LOTION 1*1
BETADINE SCRUB 500ML
BETADINE SOLUTION 500ML
BETADINE(XEPI SCRUB) SCRUB SOL 100ML
BETAHISTIN 8 1*1
BETAMETHASONE EUPH 1*100
BETAMETHASONE TAB 1*100
BETARAN INJ 1*1
BETAZEN(BETAMETHASONE) 1ML
BETT 0.5 INJ 1*1
BIO KIN 1*1
BIO-CUF T SYP 100
BIO-OMI 1*20
BIO-OMI D 1*20
BIOBAND 10ML
BIOCET 60ML
BIOCITRAL SYP 100ML
BIOCOF-T 100ML
BIOCUFF-AM 100ML
BIOCUS DS 1*1
BIOCUS SCHATE 1*1
BIOHUNGRY (PINEAPPLE) 200ML
BIOLOCK INJ 2ML
BIOMOX 500 CAP 1X10
BIOPLEX CAP 1*100
BIOTOSS Q 100
BIOTOSS-Q 100ML
BIOVERON AQUA INJ 1ML
BIOZEN MULTIVITA SYP 200ML
BIOZYME DROP 1*1
BLADE HANDLE 1*1
BLONT TOOTHFORE SHAP SMALL 1*1
BLOOD SET 1*1
BLUNT SEASSOR B/5 1*1
BLUNT SEASSOR B/B 1*1
BODY GROW 1*1
BODYVITAL CAP 1*10
BORIC ACID POW 400G
BORIC POWDER 500 GM 500 GM
BP APP DIAL DELUX 1*1
BP BAG 1*1
BP BAG SINGLE 1*1
BP BULB PCS
BP BULVE & VALVE 1*1
BP CUFF 1*1
BP DIAMOND INSTRUMENT 1*1
BP DIGITAL INSTRUMENT 1*1
BP HANDLE 1*1
BP INSRUMENTS ACCESORY 1*1
BP OPRATOR (DISHA CO) 1*1
BP PAD ABD 25CMX40CM 1X1
BP VALV 1*1
BRALSPAS 1*1
BROHMAXIN COMBI(AVKOF) SYP 10ML
BROMIN TAB 1*100
BROMOPEN EUPH 100
BROMOPEN TAB 100
BROTIS DM 100ML
BRUPAR SYP(MONO) 60ML
BUDECORT 0.5MG RESP 1ML
BUDECORT RESPLUS 1*1
BUDESONIDE(BUDEZING) 2ML
BUDEZING 2ML INJ 1X1
BUFFAN CAP 1*100
BUFFAN CAP 1*100
BULBE 1*1
C ONE 100MG
C ONE INJ 100MG
C SIP DRINK 200ML
C SIP DRINK 200ML
C SIP DRINK 200ML
C SIP P0WDER 105G
C SIP POWDER 35G
C-ACT-250 1*100
C-PAR (ACE+PARA) ASHUWADI 1*100
C-PIN 4MG 1*100
C2CAL Z SYP 200
C2CAL Z TAB 1*15
C2CAL-CZ 1*10
CABOPROST 1*1 1ML
CABOPROST ING 1*1
CABOPROST-250 1*1
CADCAL D3 1*4
CADER 100GM
CADGUT MERSUTURE NW 4246 RB NO 1
CADIMEF PLUS 60ML\
CADLON(savlon) 1L 1*1
CADOCID SUSP 170ML
CADVITAL MVI 1*10
CADVITOL G CAP 1*10
CAGEN CAP 1*10
CAL INJ 1*1
CAL SYP (CALCIZEN ) 100ML
CAL+d3 (GEMOLINE) 1*15
CALALAYER LOTION 100ML
CALCIUM AND VIT D3(LUPICAL) 500MG
CALCIUM SYP(CACIGEN) 100ML
CALCIUM TAB 1*1000
CALESTER D3 SYP 200ML
CALIROL CAP 1*4

           
           </div>
         <div class="col-sm-4">
                  CALIROL SCHATE 1*1
CALIROL SHOT 1*4
CALK2H 1*10
CALMIN D3 1*5
CALZING 500 TAB 1X15
CAMERA COVER 25*25 1*1
CANNULA IV MEDION 20G 1X1
CANNULA MEDION IV 22G
CANULA 20 POLYFLON 1*1
CANULA 22 POLYFLON 1*1
CANULA 24 1*1
CANULA 3 WAY 1*1
CANULA FIXETER 1*1
CANULA MEDIFLON NO 22 1*1
CANULA NO 20 MEDIFLON 1*1
CANULLA 20 BD 1*1
CANULLA 24 1*1
CAP OXYTETRA 250 100
CARBOPOST INJ 125MG
CARDISET 1*10
CARE 10ML 1*20*50
CARE 3ML 4*20*100
CARE SYRINGE 2ML 1*1
CARE SYRINGE 3ML 1*1
CARE SYRINGE 5ML 5ML
CATGUD 2-0
CATGUT 1 1*1
CATGUT 3-0 NW4237 RB 1*1
CATGUT 3-0(PROGUT) 4201 CUTTIN 1*1
CATGUT 4-0 5048 1*1
CATGUT 4241(PROGUT)2-0 RB 1*1
CATHER RX 16 1*1
CATHERTER RH 14 1*1
CATHETER 10 1*1
CATHETER 22(INTRA CATH) 1*1
CATHETER RH 18 1X1
CATHETRE 14
CATKOF TAB EUKOF 1*100
CATRIZIN 10MG 1*10
CAYTHETER NO 12 1*1
CEF-LIFE INJ 1G
CEFAPRO INJ 1G 1G
CEFICURE-S INJ 1*1
CEFIX200(SEFIX) 1*10
CEFO+SULB ANGOPERA 1.5G
CEFODOXIM DRY SUP (CEFOGEN) 30ML
CEFOPARAZONE1.5 INJ(APR SUPRAZ 1*1
CEFOTAXIME 1G(PROCEF) 1*1
CEFTRI (THEO)250MG 250MG
CEFTRI INJ (TROXONE) 1G
CEFTRI(THEOTRAX)50MG 500MG
CEFTRI+SULB(cefri sb) 1*1
CEFTRIAXONE & S(CEZON S) 1*1
CEFTRIAXONE 1G INJ(APR TEXCEF) 1G
CEFTRIAXONE 1G(MYZONE) 1*1
CEFTRIAZONE1.5G(APR TEXCEF) 1*1
CEFTRIAZONE250 1*1
CEFTRIXONE 250INJ(MONONILA) 1*1
CEFTRIZONE (MYZON 1G) 1G
CEFY250 1*10
CEKOM P 1*10
CEKOM-P 1X10
CETINAM COLD SYP 60ML
CETRI (BIOCET) 60ML
CETRI (PROCET)SYP 60ML
CETRIZINE  HAB 100
CETRIZINE 10MG TAB 1*500
CETRIZINE SYP WIBAUX 60ML
CETRIZINE WIN 1*500
CETRIZINE(CETAZIN) EUPH 1*100
CETZ SYP 30ML
CETZLIKE TAB 1*10
CEZON S 1.5G 1*1
CHERILITE SYP 100ML
CHEST PICE 1*1
CHITTER FOR SHAPE 1*1
CHLOROQUIN (WIN) 1*200
CHLOROQUIN INJ 30ML
CHLOROQUINE 1*100
CHLORPHENIRAMINE INJ 30ML
CHLORPHENIRAMINE TAB 1*1000
CHYMONET FORT 1*20
CIDEX (HOSPAL-GPLUS 5L) 5L
CINIVER D 10
CINORAPEP DROP 1*1
CIPKING D (EYE/EAR) DROP 1*1
CIPLADINE OINTMENT 30GM
CIPNAM500 1*10
CIPRO 250  PENTA 100
CIPRO IV 100ML
CIPRO-500 EUPH 1*100
CIPRO500 1*10
CIPROHEPTA DINE(CYPOT) 200ML
CIPROHEPTA PENTA 100
CIPROHEPTADINE (CYPOT) 200ML
CIPROPEN250 EUPH 100
CITICOLIN INJ 4ML 1*1
CITICOLIN(LIFECITICOL)2ML 1*1
CITIZEN INJ 1*1
CITONINE P 1*10
CIXCEF 100LB DRY SYRUP 30ML
CIXCEF 200 1*10
CIXCEF AZ TAB 1*10
CIXCEF CV DS SYP 30ML
CIXCEF CV TAB 1*6
CIXCEF CV TAB 1*6
CIXCEF DS SYP 30ML
CIXCEF LB200 1*10
CIXCEF O 1*10
CIXCEF O DS 30ML
CIXCEF100 DT 1*10
CIXDOP 200LB 1*10
CIXDOP AZ 1*10
CLINDAMYCIN ING(CLINDACAD) 4MG
CLINTOL POWDER 100G
CLIZOT 10MG 1*10
CLIZOT 5MG 1*10
CLODACIL 100GM
COF Q 1*10
COLDIMIX(DRY SUP) SYP 60ML
COLDMINE SYP 1*1
COLDYKOF PLUS 1*1
COLIPEN 1*100
COLIPEN 100
COLIPEN S 1*100
COLIPEN-M 1*100
COMBIKIT INJ 1*1
COMPOUND MG TRISILLICATE 1*1000
CORBOPROST 250MG INJ 1ML
CORD CLAMP 1*1
CORONATION HWB 1*1
CORONATION HWB DELUX 1*1
CORRUGATED DRAINAGE SHEET 1*1
COSLIN DRY SYP 30ML
COTT TAP 1",TAP"
COTT TAP(LEUCOPLAST) 2 1*1"
COTT TAPE 1INCH LEUKOPLAST 1*1
COTTON (LEUCOPLAST)TAPE 4 1*1
COTTON 500G
COTTON 500G 400G
COTTON MASK\ 1*1
COTTON THREAD 1*1
COTTON WOOL 400G
CPM (C PIN )EUPH 1000
CPM ASHU 1*100
CPM PENTA 1*1000
CRAP BANDASE(DYNAFEET)10*4 1*1
CRAP BANDASE(DYNAFIT)6*4 1*1
CRAPBANDASE(DYNAFEET)8*4 1*1
CREAM HIFIN OZ 15GM
CREAM HIFIN OZ 30G
CUF D SYP 60 ML
CUFLIN D CAP 1*10
CUFLIN D SYP 100ML
CUFLIN-D 100ML
CUTACEPT LIQ 1*1
CUTASEPT 100ML
CUTASEPT 500ML 1*1
CUTENOX-G-0.4 1.1
CYCLOLIN M INJ 30ML
CYCLOPALM TAB9 (SPASM MAK YL) 1*100
CYCOLAC CAP 1*10
CYNI 12(APR12 BOOSTER)INJ 30ML
CYNICOBOLAMIN INJ (CYNO) 30ML
CYNOFIM TAB 1*010
CYNOVIT INJ 30ML
CYNOVIT INJ 30ML
CYPROGEN 200ML 200ML
CYPROZEN 200ML
CYSPAS-D DROPS 10ML
D PAR ( DICLO PAR) 1*10
D+P (PAR-D--UN)EUPH 100
D10 FK 1*1
D25 (REAL) 100ML
D25 100ML
D5 250ML 1*1
D5 500ML
D5 EH 1
D5 EURO 500ML
D5 FK 500ML
D5 FK 500ML
D5(REAL) 500ML
D5250 EURO 250ML
DALKOLEX TAB EUPH 1*100
DB INSULIN SYRINGE 40U
DC TAB 1*100
DCC 100MG 1*1000
DCC 50 MG 1*100050MG
DCLOLAC SP 1*10
DCLOLAC SP TAB 1*10
DECA 50 INJ INJ
DEO M 1*10
DERIFILIN EUPH ETOTHIN
DERIFILIN INJ (DERILIN) 2ML
DERIPHYLINE INJ 2
DERMA DOXYZEN 1*30
derma oint(FUNGDEAL) 15G
DERMIFORD ONTMENT 1*1
DERYPHYLIN(DERITARD) 2ML
DEXA (EUCORT) EUPH 100
DEXA (waxoL) 30ML
DEXA 2ML (MAHADEXA) 2ML
DEXA 2ML (PRODEXA) 2ML
DEXA ASHU 1*100
DEXA HAB 1*200
DEXA INJ  TEMIS 30ML
DEXA INJ 2ML(LUPIDEXA) 2ML
DEXA INJ 30ML
DEXA KOPINJ 30ML
DEXA PENTA 1*100
DEXA PRODEXA INJ 30ML
DEXA TAB HALYWOOD 1*200
DEXA TAB HEXA HELY 1*200
DEXA WEXOL INJ 30ML
DEXA WIN PHARMA 1*200
DEXA(APR DEXOMET)INJ 30ML
DEXA(DEXAGEN)30ML 1*1
DEXA(DEXAZEN) INJ 1*1
DEXAMETHASONE INJ 2ML
DEXAMETHASONE TAB(O) PENTA 100
DEXAMETHASONE TAB(R) PENTA 100
DEXTRO(BIOTOSS Q) 100ML
DEXTRO(RAXKUF-DX) SYP 100ML
DEXTRO+CPM(MAHACOF SYP) 100ML
DIAPER(liberty adult dipar) 1*1
DIC+PARA+SERRA(MOVORON SP) 1*10
DICLIN TAB 1*100
DICLIN(O+GREEN) 1*100
DICLO  INJ JKOP 1ML
DICLO (MOVORON ) 1ML
DICLO (PENTA) 1*100
DICLO (PROVERON) 3ML
DICLO 1ML (PROVERON) 1ML
DICLO 1ML(MERIDIC)AQ 1*1
DICLO 3ML(ZYNAC) 1*1
DICLO HAB 1*100
DICLO INJ (WIBAUX0 1ML
DICLO INJ(BIOVERON) 1ML
DICLO INTAS 1*3ML
DICLO PARA(DICLOSER P) 1*10
DICLO PROVERON INJ 1ML
DICLO TAB PENTA 1*100
DICLO(INGESIC ) 3ML
DICLO(MOVORAN AQWA) IML 1*1
DICLO+PARA  WIN 1*100
DICLO+PARA (BIOPAR) TAB 1*10
DICLOFENAC EUPH 1*100
DICLOFENAC FREE ACID 46.5MG 100
DICLOFENAC TAB (PENTA) 100
DICLOLAB INJ KOP 3ML
DICLOLIFE AQ EVARAN 1*1
DICLOLIFE INJ 3ML SYNTHO 1*1
DICLOPEN 1ML
DICLOPEN 3ML
DICLOPEN SPREY 1*1
DICLOSPAN PLUS 1*10
DICYCLOMINE HCL TAB 20MG 100
DICYCLOMINE TAB20MG EUPH 100
DIGENE EUPH 1*1000
DIGIGEL PINK 1000
DIGITAL THERMAMETRE
DISPO VAN 10ML SYRINGE 1*1
DISPOVAN 2ML WITH NEED 2ML
Dispoven 3ML 1*100
DIXAID GEL 1*1
DIXRIA 500 INJ 1*1
DNS (REAL) 500ML
DNS 250 EURO 250ML
DNS 250ML ML
DNS A-FKIL 250ML
DNS CHL 500ML 500ML
DNS EH 1
DNS EURO 500ML
DNS FK 500
DNS FKIL 500ML
DOFACIN 200 1*100
DOKIM DROP 1*1
DOLOPENT(PENTAZOCIN) INJ 1*1
DOLYSE DROP 1*1
DOM +PENTAPRAZOLE  HAB 1*100
DOMPERIDON   HAB 0*100
DOMPERIDON EUPH 1*100
DOMPERIDONE 1*100
DOMPERIDONE 10MG 100
DONVITA C SYP 200ML
DOT FREE ANION 1*8
DOT FREE EXTRA LONG 1*7
DOT FREE REGULAR 1*7
DOXIMEF PDS 1*1
DOXOCEF 1G 1*1
DOXODOT MF 1*10
DOXX-L TAB 1*8
DOXY PENTA 1*100
DOXY(ANTIDOX) EUPH 1*100
DOXYGEN TAB 1*10
DPC (EUCLO CZ) EUPH 1*10
DR MAA BIOMENTIN DS 30ML
DR MAA SFURTI ORS 21.8G
DRAPE 140CM*150CM 1*1
DRMAA PIRIZEN CAP 1*30
DRO-M 1*10
DROMIC 500(AMIKACIN) 1*1
DROTA +MEF (DROTAPRO) 1*10
DROTAVARIEN (DROTAKOP)INJ 2ML

           
           </div>
         <div class="col-sm-4">
         
           
           </div>
         
         </div>
       
       
       
       </div>
    
   
</div>

      <nav class="navbar navbar-light " style="background-color: rgb(109, 221, 212); margin-top: 200px; ">
        <div class="container-fluid">
          
          <div class="container">
            
            
            <div class="row">
              <div class="col-sm-2">
                Connect with us
                </div>
            <div class="col-sm-1" >
              
                <a   href="https://api.whatsapp.com/send?phone=+919324834912&text=Hello K K Health Care!"><img src="{% static 'Img/whats.png' %}" style="height: 30px; width: 30px;"></a>
              </div>
              <div class="col-sm-1">
                <a  href="tel:+919324834912"><img src="{% static 'Img/Phoneicon.png' %}" style="height: 30px; width: 30px;"></a>
              </div>
              <div class="col-sm-1">
                <a  href="mailto:satishkpandey08@gmail.com"><img src="{% static 'Img/Mail.png' %}" style="height: 30px; width: 30px;"></a>
              </div>

              
            </div>

          </div>
           
        </div>
      </nav>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


      


      <div style="background-color: rgb(201, 212, 212);  text-align: center;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <p style="text-align: center;">K K Health Care</p>
            <p style="text-align: center;">10, Om Sai Milan Coop Hsg Society,Oswal Nagari</p>
            <p style="text-align: center;"> Nalasopara East, Maharashtra, Palghar-401209 </p>
        </div>
    </div>
     

       <span class="copyright" style="margin-left: 10px;" >Copyright &copy; All rights reserved | K K Health Care</span> 
  </body>
</html>
